.answerContent {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 518px;
  word-break: break-all;
  align-items: center;
}

.answerFirstChild {
  padding-top: 10px;
  border-top: #c8cfd6 solid 1px;
}

.accordion {
  display: flex;
  flex-direction: column;
  background-color: #ebf4f8;
  width: 550px;
}

.titleEditorContainer {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.titleSVGContainer {
  width: 502px;
  overflow: auto;
}

.titleSVGContainer::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #f9f9fd;
}

.titleSVGContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c8cfd6;
}

.titleSVGContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.answerEditorContainer {
  width: 470px;
  height: 200px;
  margin-bottom: 20px;
}

.editorContainer:first-child {
  margin-bottom: 0;
}
.editorContainer:last-child {
  margin-bottom: 0;
}
