.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 20px 0;
  width: 640px;
  min-height: 70px;
  border-radius: 8px;
  background: #ffffff;
}

.headerResponsiveTrigger {
  border-radius: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  width: 640px;
  height: 100%;
  min-height: 10vh;
  border-radius: 8px;
  background: #ffffff;
}

.external小ontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner小ontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 5px 20px 20px;
}

.inner小ontainer > div:nth-child(n) {
  display: flex;
  margin-bottom: 20px;
}
.inner小ontainer > div:last-child {
  margin-bottom: 0;
}

.title,
.description {
  display: flex;
}

.boxButtonsMenu {
  padding: 20px 5px 20px 0;
  transform: translateZ(0px);
}

.addIcon {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.sendIcon {
  transform: rotate(-90deg);
}
