.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 20px 0;
  width: 640px;
  min-height: 70px;
  border-radius: 8px;
  background: #ffffff;
}

.headerResponsiveTrigger {
  border-radius: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  width: 640px;
  height: 100%;
  min-height: 10vh;
  border-radius: 8px;
  background: #ffffff;
}

@media screen and (max-width: 700px) {
  .header {
    width: 90vw;
    min-width: 380px;
  }
  .main {
    width: 90vw;
    min-width: 380px;
  }
}
